@import "_nullformat";
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,700);

* {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

// *--ЗАДАЮ ЦВЕТ ШРИФТА ДЛЯ ВСЕХ PLACEHOLDER---
::placeholder {
	color: #989898;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #989898;
}
::-ms-input-placeholder {
	color: #989898;
}

// todo закрепление подвала и хэдера. Вопрос нужен ли для body display flex?
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	flex-grow: 1;
}

//!---------------Header---------------
.header {
	background-color: #333333;
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	color: #777777;
	margin: 0 auto;
	max-width: 2050px;
	width: 100%;
	padding: 0 440px;

	&__sign-in {
		background-color: #333333;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #999999;
	}

	&__currency select {
		background: #333333;
		color: #777777;
	}

	&__reg-block {
		display: flex;
		justify-content: space-between;
	}

	&__reg-block > * {
		padding: 16px 20px;
	}

	&__sign {
		margin-left: 20px;
	}

	&__basket {
		margin-left: 30px;
		background-color: #00c8c8;
	}

	&__basket select {
		background-color: #00c8c8;
		color: white;
	}
}

//!-------------ВТОРОЙ БЛОК---------------------
//*---------БОЛЬШАЯ ФОНОВАЯ КАРТИНКА-------------------

.menu {
	max-width: 2050px;
	// width: 100%;
	margin: 0 auto;
	padding: 38px 130px 122px;
	height: 920px;
	display: flex;
	background-image: url("../images/home/main\ banner'.jpg");
	position: relative;

	&__up {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		flex-grow: 1;
	}

	&__logo {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #222222;
	}

	&__nav {
		display: flex;
		margin: 0 -15px;
	}

	&__nav ul {
		display: flex;
		// justify-content: space-between;
	}

	&__nav li {
		font-size: 13px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		color: #222222;
		padding: 0 30px;
		background: url(../images/home/icon\ down.png) no-repeat;
		background-position: 31px 21px;
		position: relative;
	}

	&__nav li:hover {
		color: #00c8c8;
		background: url(../images/home/icon\ down\ hover.png) no-repeat;
		background-position: 31px 21px;
	}
	&__nav li:hover > .dropdown {
		display: flex;
	}

	&__nav > input {
		margin-left: 115px;
		width: 190px;
		// height: 30px;
		padding: 6px;
		background: url(../images/menu/icon-search.png) no-repeat;
		background-position: 170px center;
		background-color: rgba(248, 248, 248, 0);
		border: 1px solid #e7e7e7;
	}

	&__nav > input:focus {
		background-image: none;
	}

	&__topic {
		font-size: 13px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		color: #00c8c8;
		position: relative;
	}

	input {
		height: 28px;
	}
}

.dropdown {
	display: none;
	position: absolute;
	top: 30px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;

	flex-direction: column;

	&__text {
		display: flex;
	}

	&__column {
		display: flex;
		flex-direction: column;
		color: #575153;
		margin: 30px 32px;
	}

	&__column > p {
		font-size: 12px;
		line-height: 20px;
		font-weight: 400;
		color: #575153;
		margin-bottom: 32px;
	}

	&__column > a {
		font-size: 14px;
		line-height: 30px;
		font-weight: 300;
		color: #727272;
		text-transform: capitalize;
	}

	&__column > a:hover {
		color: #00c8c8;
	}

	&__adv {
		width: 407px;
		height: 200px;
		background-color: #333333;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 32px;
	}

	&__adv > p {
		font-size: 36px;
		line-height: 48px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #ffffff;
	}
}
//   ----Плавающее окошко------
.menu {
	&__free-object {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #454647;
		position: absolute;
		bottom: 122px;
		right: 322px;
		padding: 23px 32px;
		background-color: rgba(115, 115, 115, 0);
		border: 2px solid #737373;
	}
}

//!-----ТРЕТИЙ БЛОК С ДОСТУППНЫМИ ТОВАРАМИ-------
.offers {
	width: 1770px;
	margin: 0 auto 125px;

	&__just-line {
		width: 1770px;
		height: 1px;
		background-color: #eeeeee;
		margin: 55px 0 63px;
	}

	&__menu {
		margin: 0px -58px;
	}
	&__menu ul {
		display: flex;
	}

	&__menu li {
		padding: 0 58px;
		font-size: 13px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		color: #727272;
	}

	&__menu li:hover {
		color: #00c8c8;
	}
}

// ---PHOTO BLOCK (ЧАСТЬ ТРЕТЬЕГО БЛОКА)
.offers {
	&__photos {
		display: flex;
		margin: 60px -15px;
	}

	&__first-column {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
	}

	&__second-column {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
	}

	&__row {
		display: flex;
		margin-bottom: 30px;
	}

	&__image {
		width: 100%;
		height: 100%;
		position: relative;
	}

	//*--------------------ВЫПАДАЮЩЕЕ ОКНО ПРИ НАВЕДЕНИИ
	// *-----------------------НА КАРТИНКУ---------------------

	&__image-hover {
		display: none;
		position: absolute;
		bottom: -190px;
		z-index: 50;
		padding: 20px 55px;
		background-color: white;
		min-height: 150px;
		width: 420px;
	}

	&__first-column &__row:last-child &__image-hover {
		width: 870px;
	}

	&__second-column &__row:first-child &__image-hover {
		width: 870px;
	}

	&__image:hover &__image-hover {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 13px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		color: #727272;
		text-align: center;
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 15px;
		text-align: center;
		font-size: 15px;
		line-height: 22px;
		color: #8e8c8c;
	}

	&__button {
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background-color: #727272;
		margin: 0 7.5px;
	}

	&__button:hover {
		background-color: #00c8c8;
	}

	//*-------------------ЗАДАЮ КАКАЯ КАРТИНКА, ГДЕ
	//*--------------------БУДЕТ ОТОБРАЖАТЬСЯ---------

	&__first-column .offers__row:first-child .offers__image:first-child {
		width: 420px;
		height: 500px;
		background: url("../images/home/1-1-1\ photo.jpg");
		background-repeat: no-repeat;
		margin-right: 30px;
	}

	&__first-column .offers__row:first-child .offers__image:nth-child(2) {
		width: 420px;
		height: 500px;
		background: url("../images/home/1-1-2\ photo.jpg");
		background-repeat: no-repeat;
	}

	&__first-column .offers__row:last-child .offers__image {
		width: 870px;
		height: 704px;
		background: url("../images/home/1-2-1\ photo.jpg") no-repeat center;
		background-size: cover;
	}

	&__second-column .offers__row:first-child .offers__image {
		width: 870px;
		height: 704px;
		background: url("../images/home/2-1-1\ photo.jpg") no-repeat center;
		background-size: cover;
	}

	&__second-column .offers__row:last-child .offers__image:first-child {
		width: 420px;
		height: 500px;
		background: url("../images/home/2-2-1\ photo.jpg") no-repeat center;
		background-size: cover;
		margin-right: 30px;
	}

	&__second-column .offers__row:last-child .offers__image:last-child {
		width: 420px;
		height: 500px;
		background: url("../images/home/2-2-2\ photo.jpg") no-repeat center;
		background-size: cover;
	}
}

//!---------------ЧЕТВЕРТЫЙ БЛОК----------
.lookbook {
	max-width: 2050px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	&__section {
		padding: 100px 57px 130px 315px;
	}

	&__section:first-child {
		background-image: url("../images/home/lookbook/1.jpg");
		max-width: 663px;
		height: 530px;
		background-color: #f8f8f8;
	}

	&__section:nth-child(2) {
		background-image: url("../images/home/lookbook/2.jpg");
		max-width: 663px;
		height: 530px;
		background-color: #f8f8f8;
	}

	&__section:nth-child(3) {
		background-image: url("../images/home/lookbook/3.jpg");
		width: 663px;
		height: 530px;
		background-color: #f8f8f8;
	}

	&__description {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__title {
		font-size: 48px;
		line-height: 54px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #575153;
		text-align: end;
		margin-bottom: 30px;
	}

	&__text:not(:last-child) {
		text-align: end;
		font-size: 15px;
		line-height: 22px;
		color: #727272;
		margin-bottom: 30px;
	}

	&__button {
		width: 180px;
		// height: 59px;
		background-color: #00c8c8;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #f8f8f8;
		text-align: center;
		vertical-align: middle;
		padding: 20px 30px;
	}
}

//!-----------------ПЯТЫЙ БЛОК--------------
.sitemap {
	&__container {
		max-width: 1190px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding-top: 62px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 20%;
	}

	&__title {
		font-size: 13px;
		line-height: 20px;
		text-transform: uppercase;
		color: #575153;
		margin-bottom: 35px;
	}

	&__ul li,
	&__column:last-child * {
		font-size: 14px;
		line-height: 30px;
		font-weight: 300;
		color: #727272;
	}

	//*-----------БАНЕРЫ----------------

	&__banners {
		display: flex;
		margin-bottom: 63px;
	}

	&__image {
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #ffffff;
		flex: 0 1 50%;
		height: 200px;
		background-color: #333333;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image p {
		text-align: center;
	}

	&__image:not(:last-child) {
		margin-right: 30px;
	}
	// todo:  но когда станет одним элементом в ряду, то надо будет убрать

	&__image:last-child {
		background-color: #00c8c8;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image:last-child a:not(:last-child) {
		margin-right: 30px;
	}

	&__image:last-child a {
		display: inline-block;
		height: 35px;
		width: 35px;
		background-image: url("../images/home/sitemap/social-media.png");
		background-size: 180px auto;
	}

	&__image:last-child a:first-child {
		background-position: 0px 0px;
		background-size: 180px auto;
	}

	&__image:last-child a:nth-child(2) {
		background-position: 236px -4px;
		background-size: 288px auto;
	}

	&__image:last-child a:nth-child(3) {
		background-position: 580px 36px;
		background-size: 288px auto;
	}

	&__image:last-child a:nth-child(4) {
		background-position: 424px -2px;
		background-size: 288px auto;
	}
}

// !	---------FOTTER----------

footer {
	max-width: 2050px;
	background-color: #333333;
	margin: 0 auto;
}

.footer-container {
	min-height: 45px;
	max-width: 1190px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	font-weight: 400;
	color: #999999;

	&__right-side {
		display: flex;
		color: #777777;
	}

	&__right-side p:not(:last-child) {
		margin-right: 35px;
	}
}
