@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

[class*=__container] {
  max-width: 2080px;
  margin: 0 auto;
  padding: 0px 15px;
}

::-moz-placeholder {
  color: #989898;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #989898;
  opacity: 1;
}

::placeholder {
  color: #989898;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #989898;
}

::-ms-input-placeholder {
  color: #989898;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  box-sizing: content-box;
}

.header {
  background-color: #333333;
  font-weight: 400;
  color: #777777;
}
.header__container {
  width: 100%;
  padding: 0 438px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-height: 45px;
}
@media (max-width: 2000px) {
  .header__container {
    padding: 0 15%;
  }
}
@media (max-width: 1700px) {
  .header__container {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .header__container {
    font-size: 18px;
    padding: 0px 5%;
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .header__container {
    padding: 0px 5px;
  }
}
@media (max-width: 560px) {
  .header__container {
    padding-top: 5px;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (max-width: 400px) {
  .header__container {
    align-items: baseline;
    padding-left: 30px;
    row-gap: 20px;
  }
}
.header__currency {
  padding: 0 5px;
}
.header__currency select {
  background: #333333;
  color: #777777;
  min-width: 84px;
}
.header__reg-block {
  display: flex;
  align-items: center;
}
@media (max-width: 560px) {
  .header__reg-block {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 400px) {
  .header__reg-block {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    padding-left: 5px;
  }
}
.header__register {
  margin-right: 35px;
  padding: 0 0;
}
.header__sign {
  margin-right: 15px;
  min-width: 50px;
}
@media (min-width: 767.98px) {
  .header__sign {
    margin-right: 78px;
    min-width: 0px;
  }
}
.header__basket {
  background-color: #00c8c8;
  min-height: 45px;
  min-width: 147px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__basket select {
  background-color: #00c8c8;
  color: white;
}

.menu {
  padding: 33px 6.49% 0px;
  height: 920px;
  display: flex;
  background-image: url("../images/home/main banner'.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
  background-color: #f8f8f8;
}
@media (max-width: 1500px) {
  .menu {
    background-position: 54% 0px;
    background-size: contain;
  }
}
@media (max-width: 1230px) {
  .menu {
    background-image: none;
  }
}
.menu__up {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1500px) {
  .menu__up {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.menu__logo {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #222222;
  padding-bottom: 15px;
}
.menu__nav {
  display: flex;
  -moz-column-gap: 118px;
       column-gap: 118px;
  height: 35px;
  align-items: center;
}
@media (max-width: 1500px) {
  .menu__nav {
    -moz-column-gap: 50px;
         column-gap: 50px;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .menu__nav {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.menu__nav ul {
  display: flex;
  -moz-column-gap: 55px;
       column-gap: 55px;
  align-items: center;
}
@media (max-width: 1200px) {
  .menu__nav ul {
    margin-bottom: 15px;
    flex-direction: column;
    row-gap: 10px;
  }
}
.menu__nav li {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  background: url(../images/home/icon\ down.png) no-repeat;
  background-position: 2px 26px;
  position: relative;
  vertical-align: middle;
  padding: 8px 0;
}
@media (max-width: 1500px) {
  .menu__nav li {
    font-size: 18px;
    font-weight: 700;
  }
}
@media (max-width: 1200px) {
  .menu__nav li {
    font-size: 20px;
    background-position: 50% 30px;
  }
}
.menu__nav li:hover {
  color: #00c8c8;
  background: url(../images/home/icon\ down\ hover.png) no-repeat;
  background-position: 2px 26px;
}
@media (max-width: 1200px) {
  .menu__nav li:hover {
    background-position: 50% 30px;
  }
}
.menu__nav li:hover > .dropdown {
  display: flex;
  flex-direction: column;
}
.menu__nav > input {
  width: 190px;
  padding: 6px;
  background: url(../images/menu/icon-search.png) no-repeat;
  background-position: 162px center;
  background-color: rgba(248, 248, 248, 0);
  border: 1px solid #e7e7e7;
  min-height: 28px;
}
@media (max-width: 870px) {
  .menu__nav input {
    font-size: 20px;
  }
}
.menu__nav > input:focus {
  background-image: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 46px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 30px;
}
@media (max-width: 1800px) {
  .dropdown {
    right: -290px;
  }
}
@media (max-width: 1200px) {
  .dropdown {
    right: -200px;
  }
}
@media (max-width: 500px) {
  .dropdown {
    min-width: 100px;
    padding: 10px;
    right: -115px;
  }
}
.dropdown__text {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .dropdown__text {
    display: block;
    margin-left: 100px;
  }
}
.dropdown__column {
  display: flex;
  flex-direction: column;
  color: #575153;
}
.dropdown__column > p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #575153;
  margin-bottom: 18px;
}
@media (max-width: 1500px) {
  .dropdown__column > p {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .dropdown__column:last-child > p {
    margin-top: 30px;
  }
}
.dropdown__column > a {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #727272;
  text-transform: capitalize;
}
@media (max-width: 1500px) {
  .dropdown__column > a {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .dropdown__column > a {
    margin-bottom: 10px;
  }
}
.dropdown__column > a:hover {
  color: #00c8c8;
}
.dropdown__adv {
  width: 407px;
  height: 200px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .dropdown__adv {
    width: 280px;
  }
}
.dropdown__adv p {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (max-width: 500px) {
  .dropdown__adv p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .menu__nav li:last-child .dropdown {
    right: -82px;
  }
}